<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>GitHub</string>
	<key>description</key>
	<string>Search for GitHub repos.</string>
	<key>bundleid</key>
	<string>io.macarthur.ross.github</string>
	<key>createdby</key>
	<string>Ross MacArthur</string>
	<key>variables</key>
	<dict>
		<key>GITHUB_TOKEN</key>
		<string></string>
		<key>GITHUB_USER</key>
		<string></string>
	</dict>
	<key>connections</key>
	<dict>
		<key>F9C877AF-A87D-462C-ABE1-0BD6005C04DD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>175BB77C-330B-465F-A2E7-E4CEF4BDE70D</string>
			</dict>
		</array>
	</dict>
	<key>uidata</key>
	<dict>
		<key>F9C877AF-A87D-462C-ABE1-0BD6005C04DD</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>175BB77C-330B-465F-A2E7-E4CEF4BDE70D</key>
		<dict>
			<key>xpos</key>
			<integer>225</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
	</dict>
	<key>objects</key>
	<array>
		<dict>
			<key>uid</key>
			<string>175BB77C-330B-465F-A2E7-E4CEF4BDE70D</string>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>config</key>
			<dict>
				<key>url</key>
				<string>{query}</string>
			</dict>
		</dict>
		<dict>
			<key>uid</key>
			<string>F9C877AF-A87D-462C-ABE1-0BD6005C04DD</string>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>config</key>
			<dict>
				<key>keyword</key>
				<string>gh</string>
				<key>withspace</key>
				<true />
				<key>argumenttype</key>
				<integer>1</integer>
				<key>title</key>
				<string>Search</string>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>type</key>
				<integer>8</integer>
				<key>scriptfile</key>
				<string>github-alfred-workflow</string>
				<key>queuemode</key>
				<integer>2</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true />
				<key>argumenttreatemptyqueryasnil</key>
				<true />
			</dict>
		</dict>
	</array>
</dict>
</plist>
